<template name="notFound">
  <div class="not-found page jumbotron">
    <h2>404</h2>
    <p>Mala suerte, te quieres pasar de listo ya que esta pagina todavia no a sido creada. :D</p>
  </div>
</template>
